.dnd {
	border: 1px solid #999;
	display: inline-block;
	padding: 5px;
	width: 40%;
	vertical-align: top;
}

.dnd li {
	border: 4px solid #ccc;
	margin: 2px;
	padding: 8px;
	list-style-position: inside;
}

.dragover {
	border: 1px solid red;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}