#multiple {
	width: 100%;
}

#multiple li {
	list-style: none;
}

#multiple li a {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	color: #555;
	display: block;
	font-size: 40px;
	font-weight: bold;
	height: 128px;
	line-height: 128px;
	padding: 0 160px;
	text-decoration: none;
}

#multiple li a:hover {
	color: #000;
	text-decoration: underline;
}

#download {
	background: url(../../images/icon-download.png) no-repeat center left,
		url(../../images/arrowright.png) no-repeat center right;
}

#jpg {
	background: url(../../images/icon-jpeg.png) no-repeat center left,
		url(../../images/arrowright.png) no-repeat center right;
}

#mail {
	background: url(../../images/icon-mail.png) no-repeat center left,
		url(../../images/arrowright.png) no-repeat center right;
}

#wordpress {
	background: url(../../images/icon-wordpress.png) no-repeat center left,
		url(../../images/arrowright.png) no-repeat center right;
}

#download:hover {
	background-color: #ccc;
	background-image: url(../../images/icon-download.png), url(../../images/arrowright.png);
	background-position: left center, right center;
	background-repeat: no-repeat;
}

#jpg:hover {
	background-color: #ccc;
	background-image: url(../../images/icon-jpeg.png), url(../../images/arrowright.png);
	background-position: left center, right center;
	background-repeat: no-repeat;
}

#mail:hover {
	background-color: #ccc;
	background-image: url(../../images/icon-mail.png), url(../../images/arrowright.png);
	background-position: left center, right center;
	background-repeat: no-repeat;
}

#wordpress:hover {
	background-color: #ccc;
	background-image: url(../../images/icon-wordpress.png), url(../../images/arrowright.png);
	background-position: left center, right center;
	background-repeat: no-repeat;
}

